*{
    margin: 0;
    padding: 0;
}

.div-01-layout{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-01-body{
    width: 60%;
    height: 40%;
    border: 2px solid #8b2635;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-div-01{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.username-div,
.email-div,
.password-01-div,
.password-confirmation-div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Rajdhani', sans-serif;
}

.left-div-01 input{
    width: 350px;
    height: 30px;
    text-align: center;
    border: 1px solid #8b2635;
    border-radius: 5px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 13px;
    color: #8b2635;
}

.signup-btn{
    width: 350px;
    height: 40px;
    background-color: #8b2635;
    color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    transition: .3s;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

.signup-btn:hover{
    background-color: transparent;
    border: 1px solid black;
    color: #000;
    cursor: pointer;
}

.right-div-01{
    width: 45%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #8b2635;
}

@media (max-width: 500px){
    .div-01-body{
        width: 95%;
        flex-direction: column;
        height: auto;
    }

    .left-div-01{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .left-div-01 input{
        width: 90%;
        height: 30px;
        text-align: center;
        font-size: 13px;
        color: #8b2635;

    }

    .username-div,
    .email-div,
    .password-01-div,
    .password-confirmation-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .right-div-01{
        width: 100%;
        height: 100%;
        margin: 20px 0px;
    }
}