<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <title>Blog | Auto Care Hub</title>
</head>
<body> 

    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' >Menu</i>
            <span class="logo navLogo"><a href="/home">Auto Care Hub</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="/home">Auto Care Hub</a></span>
                    <i class='bx bx-x siderbarClose'>Close</i>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li><a href="{% url 'main:about' %}">About</a></li>
                    <li><a href="{% url 'main:how_it_works' %}">How It Works</a></li>
                    <li><a href="{% url 'main:forum' %}">Forum</a></li>
                    <li><a href="{% url 'main:sign-up' %}">SignUp</a></li>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>
                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        const body = document.querySelector("body"),
            nav = document.querySelector("nav"),
            modeToggle = document.querySelector(".dark-light"),
            searchToggle = document.querySelector(".searchToggle"),
            sidebarOpen = document.querySelector(".sidebarOpen"),
            siderbarClose = document.querySelector(".siderbarClose");
            let getMode = localStorage.getItem("mode");
                if(getMode && getMode === "dark-mode"){
                body.classList.add("dark");
            }
                // js code to toggle dark and light mode
                modeToggle.addEventListener("click" , () =>{
                modeToggle.classList.toggle("active");
                body.classList.toggle("dark");
                // js code to keep user selected mode even page refresh or file reopen
                if(!body.classList.contains("dark")){
                    localStorage.setItem("mode" , "light-mode");
                }else{
                    localStorage.setItem("mode" , "dark-mode");
                }
            });
                // js code to toggle search box
                searchToggle.addEventListener("click" , () =>{
                searchToggle.classList.toggle("active");
            });
 
      
                //   js code to toggle sidebar
                sidebarOpen.addEventListener("click" , () =>{
                nav.classList.add("active");
            });
                body.addEventListener("click" , e =>{
                let clickedElm = e.target;
                if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
                    nav.classList.remove("active");
                }
            });
    </script>


    <section class="header">

        <div class="header-text">
            <h1 class="header-title">Blog</h1>
        </div>

    </section>

    <div class="div-01-layout">
        <div class="div-01-body">

            <div class="left_body_01">
                <h1>Real Impact on Enviroment</h1>
                <p>
                    Our goal is to promote sustainability in the automotive industry by adopting eco-friendly practices, cutting carbon emissions, minimizing waste, and encouraging the use of green technologies among mechanics and customers.
                </p>
            </div>

            <div class="right_body_01">
                <h1>Why be Eco-Friendly?</h1>
                <p>
                    Being eco-friendly makes sense because it saves money, keeps us healthy, and ensures we have resources for the future.
                </p>
            </div>
        </div>
    </div>

    <div class="div-02-layout">
        <div class="div-02-body">
            <h1>How do we contribute:</h1>
        </div>
    </div>

    <div class="div-03-layout">
        <div class="div-03-body">
            <div class="left-body-03">
                <h1>1</h1>
                <p>Opting for LED lights, cuts down the use of electricity by around 80% compared to Incandescent or fluorescent bulbs. </p>

                <h1>2</h1>
                <p>Rechargeable batteries help cut down costs, reduce waste and they can be used hundreds of times. Also having minimal environmental impact.</p>

                <h1>3</h1>
                <p>Integration of solar panels for the workstation, not only powers all the basic functions as well as recharge tools and work vehicles.</p>

                <h1>4</h1>
                <p>Recycle metal scraps, oil filters, batteries, tires, or other materials that are no longer needed, and sell them to a scrap yard or a recycling center. </p>

                <h1>5</h1>
                <p>Offer virtual consultations and diagnostics to reduce the need to travel and carbon emissions. </p>

                <h1>6</h1>
                <p>Providing educational resources to mechanics and customers about benefits of green practice as well as incentive the adoption of Ev’s.</p>

                <h1>7</h1>
                <p>Special hiring process as well as training so mechanics are ready to serve conventional and electric solutions to customers. </p>
            </div>

            <div class="right-body-03">
                <img src="{% static 'main/IMG/about-page/img-04.jpeg' %}" alt="">
            </div>
        </div>
    </div>

</body>
</html>