<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/main/css/howitworks.css">
    <title>Instructions</title>
</head>
<body>

    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' >Menu</i>
            <span class="logo navLogo"><a href="/home">Auto Care Hub</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="/home">Auto Care Hub</a></span>
                    <i class='bx bx-x siderbarClose'>Close</i>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li><a href="{% url 'main:about' %}">About</a></li>
                    <li><a href="{% url 'main:how_it_works' %}">How It Works</a></li>
                    <li><a href="{% url 'main:forum' %}">Forum</a></li>
                    <li><a href="{% url 'main:sign-up' %}">SignUp</a></li>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>
                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        const body = document.querySelector("body"),
            nav = document.querySelector("nav"),
            modeToggle = document.querySelector(".dark-light"),
            searchToggle = document.querySelector(".searchToggle"),
            sidebarOpen = document.querySelector(".sidebarOpen"),
            siderbarClose = document.querySelector(".siderbarClose");
            let getMode = localStorage.getItem("mode");
                if(getMode && getMode === "dark-mode"){
                body.classList.add("dark");
            }
                // js code to toggle dark and light mode
                modeToggle.addEventListener("click" , () =>{
                modeToggle.classList.toggle("active");
                body.classList.toggle("dark");
                // js code to keep user selected mode even page refresh or file reopen
                if(!body.classList.contains("dark")){
                    localStorage.setItem("mode" , "light-mode");
                }else{
                    localStorage.setItem("mode" , "dark-mode");
                }
            });
                // js code to toggle search box
                searchToggle.addEventListener("click" , () =>{
                searchToggle.classList.toggle("active");
            });
 
      
                //   js code to toggle sidebar
                sidebarOpen.addEventListener("click" , () =>{
                nav.classList.add("active");
            });
                body.addEventListener("click" , e =>{
                let clickedElm = e.target;
                if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
                    nav.classList.remove("active");
                }
            });
    </script>

    <section class="header">
        <div class="header-text">
            <h1 class="header-title">How It Works</h1>
        </div>
    </section>

    <div class="div-01-layout">
        <div class="div-01-body">
            <div class="top-div-01">
                <h1>01</h1>
            </div>

            <div class="bottom-div-01">
                <p><span class="gawu">Get An Account With Us</span>, to create an account with us, click on the top menu where it says sign up, fill in the required information such as your username, e-mail, password and password confirmation. Once completed you should have a new account with us, allowing you to access our services and features.</p>
            </div>
        </div>
    </div>

    <div class="div-02-layout">
        <div class="div-02-body">
            <div class="top-div-02">
                <h1>02</h1>
            </div>

            <div class="bottom-div-02">
                <p><span class="gawu">Add Your Vehicle</span>, After signing up, you'll will be redirected to "Add My Vehicles" page to input details about your car, including make, model, year, and vin number. Right after, "Service History" section to record past maintenance or repairs, keeping a handy record within your account.</p>
            </div>
        </div>
    </div>

    <div class="div-03-layout">
        <div class="div-03-body">
            <div class="top-div-03">
                <h1>03</h1>
            </div>

            <div class="bottom-div-03">
                <p><span class="gawu">Check out our Mechanic Marketplace</span>, Once you've added your vehicle, explore the "Search Mechanics" button to discover our own system of certified service providers. View their ratings and reviews to make an informed decision. Additionally, our app offer a "Schedule Service Here" option, allowing you to initiate the service process directly within the app for added convenience.  This feature streamlines the entire experience, from finding a mechanic to initiating the service, all within the confines of the application.</p>
            </div>
        </div>
    </div>
    
</body>
</html>