<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/pricing.css' %}">
        <title>Memberships | Auto Care Hub</title>
    </head>
<body>

    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' >Menu</i>
            <span class="logo navLogo"><a href="/home">Auto Care Hub</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="/home">Auto Care Hub</a></span>
                    <i class='bx bx-x siderbarClose'>Close</i>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li><a href="{% url 'main:about' %}">About</a></li>
                    <li><a href="{% url 'main:how_it_works' %}">How It Works</a></li>
                    <li><a href="{% url 'main:forum' %}">Forum</a></li>
                    <li><a href="{% url 'main:pricing' %}">Pricing</a></li>
                    <li><a href="{% url 'main:sign-up' %}">SignUp</a></li>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>
                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        const body = document.querySelector("body"),
            nav = document.querySelector("nav"),
            modeToggle = document.querySelector(".dark-light"),
            searchToggle = document.querySelector(".searchToggle"),
            sidebarOpen = document.querySelector(".sidebarOpen"),
            siderbarClose = document.querySelector(".siderbarClose");
            let getMode = localStorage.getItem("mode");
                if(getMode && getMode === "dark-mode"){
                body.classList.add("dark");
            }
                // js code to toggle dark and light mode
                modeToggle.addEventListener("click" , () =>{
                modeToggle.classList.toggle("active");
                body.classList.toggle("dark");
                // js code to keep user selected mode even page refresh or file reopen
                if(!body.classList.contains("dark")){
                    localStorage.setItem("mode" , "light-mode");
                }else{
                    localStorage.setItem("mode" , "dark-mode");
                }
            });
                // js code to toggle search box
                searchToggle.addEventListener("click" , () =>{
                searchToggle.classList.toggle("active");
            });
    
      
                //   js code to toggle sidebar
                sidebarOpen.addEventListener("click" , () =>{
                nav.classList.add("active");
            });
                body.addEventListener("click" , e =>{
                let clickedElm = e.target;
                if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
                    nav.classList.remove("active");
                }
            });
    </script>
    
    
    <section class="header">
    
        <div class="header-text">
            <h1 class="header-title">Memberships</h1>
        </div>
    
    </section>

    <div class="div-01-layout">
        <div class="div-01-body">

            <div class="membership_01">
                <div class="title-membership">
                    <h1>Basic</h1>
                    <img src="{% static 'main/IMG/pricing/cube.png' %}" alt="">
                </div>

                <div class="devider-membership"></div>

                <div class="price-membership">
                    <h1>$0</h1>
                </div>

                <div class="devider-membership"></div>

                <div class="description-membership">
                    <p>Basic membership is free and includes basic functionalities as well as access to the forum and the ability to post questions and comments.</p>
                </div>
            </div>

            <div class="membership_02">
                <div class="title-membership">
                    <h1>Starter</h1>
                    <img src="{% static 'main/IMG/pricing/electric.png' %}" alt="">
                </div>

                <div class="devider-membership"></div>

                <div class="price-membership">
                    <h1>$10</h1>
                </div>

                <div class="devider-membership"></div>

                <div class="description-membership">
                    <p>Starter membership includes basic functionalities, access to real-time tracking, a personal algorythm for maintenance schedule, and more.</p>
                </div>
            </div>

            <div class="membership_03">
                <div class="title-membership">
                    <h1>Pro</h1>
                    <img src="{% static 'main/IMG/pricing/crown.png' %}" alt="">
                </div>

                <div class="devider-membership"></div>

                <div class="price-membership">
                    <h1>$20</h1>
                </div>

                <div class="devider-membership"></div>

                <div class="description-membership">
                    <p>Pro membership includes all functionalities, access to emergency services, roadside assistance, and the integration of our AI Wrench.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-membership-basic">
        <div class="toggle-bar" onclick="toggleDiv()">Basic Membership</div>
        <div class="content" id="content">
          <h1>With the basic plan you'll get:</h1>
          <p>Access to a platform enabling you to schedule your own maintenance, compare mechanics, and access valuable information to facilitate informed decisions about your vehicle. Additionally, you'll have access to the automatically assigned preferred mechanic's information and a centralized hub to store all your car details and maintenance history.</p>
        </div>
    </div>

    <div class="about-membership-starter">
        <div class="toggle-bar-01" onclick="toggleDiv02()">Starter Membership</div>
        <div class="content-01" id="content-01">
          <h1>With the starter plan you'll get:</h1>
          <p>All the essential features, including real-time tracking of the mechanic's commute and service duration. Additionally, you'll benefit from an automated system designed to monitor your maintenance services, ensuring your car lasts longer and stays in optimal condition.</p>
        </div>
    </div>

    <div class="about-membership-pro">
        <div class="toggle-bar-02" onclick="toggleDiv03()">Starter Membership</div>
        <div class="content-02" id="content-02">
          <h1>With the starter plan you'll get:</h1>
          <p>All the basic functions, access to real-time tracking of both mechanic's comute as well as service duration, a automated system to keep track of your maintenance services to help your car last longer.</p>
        </div>
    </div>
    
    <script src="{% static 'main/js/pricing.js' %}"></script>
</body>
</html>